/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$body-bg: #091d44;
$body-color: #fff;
$text-color: #fff;
$brand-primary: #0094f7;
$blue: #0096f4;
$dark-blue: #074881;
$royal-blue: #105FA5;

$link-color: #fff;

$font-family-sans-serif:  "proxima-nova", Helvetica, Arial, sans-serif;
$font-family-serif:       "exo", Times, serif;
$font-family-monospace: "proxima-nova", Helvetica, Arial, sans-serif;

// grid-columns
$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  xss: 320px,
  // Small screen / phone/tablet
  sm: 768px,
  // Medium screen / tablet
  md: 1024px,
  // Large screen / desktop
  lg: 1100px,
  // Extra large screen / wide desktop
  xl: 1280px
);

$container-max-widths: (
  xss: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1100px,
  xl: 1280px
);
