@font-face {
  font-family: 'exo';
  src: url('../fonts/exo/Exo-Regular.eot'),
       url('../fonts/exo/Exo-Regular.woff') format('woff'),
       url('../fonts/exo/Exo-Regular.ttf') format('truetype'),
       url('../fonts/exo/Exo-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-light';
  src: url('../fonts/exo/Exo-Light.eot'),
       url('../fonts/exo/Exo-Light.woff') format('woff'),
       url('../fonts/exo/Exo-Light.ttf') format('truetype'),
       url('../fonts/exo/Exo-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-bold';
  src: url('../fonts/exo/Exo-Bold.eot'),
       url('../fonts/exo/Exo-Bold.woff') format('woff'),
       url('../fonts/exo/Exo-Bold.ttf') format('truetype'),
       url('../fonts/exo/Exo-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-med';
  src: url('../fonts/exo/Exo-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-extra-bold';
  src: url('../fonts/exo/Exo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Regular.eot'),
       url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/proxima-nova/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
