/////////////
// Floats
/////////////
@mixin float-left {
  float: left;
  [dir="rtl"] &{
    float: right;
  }
}

@mixin float-right {
  float: right;
  [dir="rtl"] &{
    float: left;
  }
}
/////////////
// Align
/////////////
@mixin text-align-left {
  text-align: left;
  [dir="rtl"] &{
    text-align: right;
  }
}

@mixin text-align-right {
  text-align: right;
  [dir="rtl"] &{
    text-align: left;
  }
}
/////////////
// Postion
/////////////
@mixin right($value) {
  right: $value;
  [dir="rtl"] &{
    right: 0;
    left: $value;
  }
}

@mixin left($value) {
  left: $value;
  [dir="rtl"] &{
    left: 0;
    right: $value;
  }
}
/////////////
// Margin
/////////////
@mixin margin($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  margin: $top $right $bottom $left;
  [dir="rtl"] &{
    margin: $top $left $bottom $right;
  }
}

@mixin margin-right($value) {
  margin-right: $value;
  [dir="rtl"] &{
    margin-right: 0px;
    margin-left: $value;
  }
}

@mixin margin-left($value) {
  margin-left: $value;
  [dir="rtl"] &{
    margin-left: 0px;
    margin-right: $value;
  }
}
/////////////
// Padding
/////////////
@mixin padding($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  padding: $top $right $bottom $left;
  [dir="rtl"] &{
    padding: $top $left $bottom $right;
  }
}

@mixin padding-right($value) {
  padding-right: $value;
  [dir="rtl"] &{
    padding-right: 0px;
    padding-left: $value;
  }
}

@mixin padding-left($value) {
  padding-left: $value;
  [dir="rtl"] &{
    padding-left: 0px;
    padding-right: $value;
  }
}
/////////////
// Clear
/////////////
@mixin inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
////////////////////
// Borders
////////////////////
@mixin border-left ($value, $type:'solid', $color:'grey') {
  border-left: $value $type $color;
  [dir="rtl"] &{
    border-left: none;
    border-right: $value $type $color;
  }
}

@mixin border-right ($value, $type:'solid', $color:'grey') {
  border-right: $value $type $color;
  [dir="rtl"] &{
    border-right: none;
    border-left: $value $type $color;
  }
}
////////////////////
// Rounded Corners
////////////////////
@mixin rounded_corners ($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -webkit-border-radius:$topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius:$topLeft $topRight $bottomRight $bottomLeft;
  border-radius:$topLeft $topRight $bottomRight $bottomLeft;
}
