// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "mixins";
@import "component/header";
@import "component/mobile_header";
@import "component/modal";
@import "component/country_selector";
@import "component/badges";
@import "component/button";
@import "component/carousel";
@import "component/section";
@import "component/featured_image";
@import "pages/homepage";
@import "pages/all_games";
@import "pages/all_videos";
@import "component/paragraph-header";
@import "component/footer";

// fonts
@import "fonts";

#page-wrapper {
  overflow: hidden;
}

#main-wrapper img {
  max-width: 100%;
  height: auto;
}

.node__content {
  font-size: 1em;
}

/*
html {
  @include media-breakpoint-up(sm) {
    font-size: calc(1em + 1vw);
  }
  @include media-breakpoint-up(md) {
    font-size: 1.3vw;
  }
  @include media-breakpoint-up(lg) {

  }
  @include media-breakpoint-up(xl) {
  font-size: 0.9vw;
  }
}*/

html, body {
  height: 100%;
  margin: 0;
}

.homepage {
  margin-top: 0px !important;
  margin: 10px;
  main {
    margin-top: -10px;
    min-height: calc(100vh - 90px);
    padding: 0px;
  }
}

a:hover {
  color:#fff;
}

#main {
  min-height: calc(100vh - 90px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "exo", Times, serif;
  color: $brand-primary;
}

h1, h2 {
  font-family: "exo", Times, serif;
  color: #fff;
}

h3 {
  font-size: 3rem;
  margin-top: 1em;
  word-wrap: break-word;
}

// test
