{{ attach_library('sb_ecosystem/teaser') }}

<div class = 'teaser-invisible-wrapper'>
	<div>
		END TIME: {{ end_time }}
	</div>
	{% if end_time > 0 %}
	<div class='teaser-timer' data-end-time='{{end_time}}'>
		TEST
	</div>
	{% endif %}
	<div class="{{category}} teaser-background">
		{{ teaser_image }}
	</div>
	<div class='{{category}} teaser-slide-panel'>

		<svg width="100%" style="position:absolute;top: 0px;left: 0px;" viewBox="0 0 300 215">
		<polygon points="5,20 60,20 78,2 215,2 233,20 288,20 288,215 5,215" style="fill:#008BF2;position: absolute;top: 0px;left: 0px;"></polygon>
			<g fill-rule="evenodd" style="opacity:0.3568">
				<path d="M 5,25 L 60,25 78,7 215,7 233,25 288,25 288,215 5,215 z
				M 10,90 L 10,183 281,183 281,65 271,42 250,42 240,65 39,65 z
				M 10,186 L 10,212 255,212 281,186 z
				"/>
			</g>
		</svg>
		<a href="{{ teaser_url }}" class = 'teaser-action-button'>{{teaser_action_text}}</a>
		<div class='teaser-expand'>+</div>
		<div class="teaser-description">
			{{ teaser_description_area }}
		</div>
		<div class="teaser-social-area">
			{{ teaser_social_area }}
		</div>
	</div>
</div>
