{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta name="apple-itunes-app" content="app-id=606378030">
  	<meta name="google-play-app" content="app-id=https://play.google.com/store/apps/details?id=air.cbn.superbook.bible.app.android&#38;referrer=utm_source%3DSuperbookTV%26utm_medium%3Dsmart_banner%26utm_campaign%3DSuperbookBibleApp">
    <link rel="apple-touch-icon" href="/themes/custom/superbook/images/superbook_app_icon.png">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <!-- SiteCatalyst code version: H.20.2.
      Copyright 1997-2009 Omniture, Inc. More info available at
      http://www.omniture.com -->
        <script src="http://www.cbn.com/Scripts/s_code_community.aspx"></script>
        <script src="http://www.cbn.com/Scripts/s_code.js"></script>
        <script>
        <!--
           /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
           var s_code = s.t(); if (s_code) document.write(s_code)
        //-->
        </script>
        <script>
           if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        //-->
        </script>
        <noscript>
           <a href="http://www.omniture.com\" title="Web Analytics\">
            <img src="http://cbn.122.2o7.net/b/ss/cbncomdev/1/H.20.2--NS/0" height="1" width="1" class="hidden" alt="Omniture" />
           </a>
        </noscript>
        <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.20.2. -->
  </body>
</html>
