{% if content %}
<div class="video-tools">
	<ul class="util-left">
		<li>
			<a href="/videos" class="back utility">
				<span class="icon-left">
					<svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1024v128q0 53-32.5 90.5t-84.5 37.5h-704l293 294q38 36 38 90t-38 90l-75 76q-37 37-90 37-52 0-91-37l-651-652q-37-37-37-90 0-52 37-91l651-650q38-38 91-38 52 0 90 38l75 74q38 38 38 91t-38 91l-293 293h704q52 0 84.5 37.5t32.5 90.5z"/></svg>
				</span>
			</a>
		</li>
	</ul>
	<ul class="util-right">
		<li>
			{{ fav_thumb }}
		</li>
		<li>
			<a href="#" class="share utility" data-share-id="6281">
				<span class="icon-share">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.92 434.52"><title>gift</title><path d="M75,473.6H242.29V287.54H75ZM452,157.66H353.89a148.9,148.9,0,0,0,18.68-11.3C393.81,131.2,405,112,405,92.88c0-15.65-7.43-29.46-18.18-38.81a61.31,61.31,0,0,0-40.33-15c-16.32,0-31.46,5.64-44.43,14.3-19.51,13.08-34.86,32.78-45.79,54.4-.52,1.05-1,2.11-1.54,3.16a174.35,174.35,0,0,0-13.92-24c-9.25-13.19-20.37-24.9-33.39-33.59s-28.11-14.3-44.43-14.3S131.87,46,120.74,56.41s-18.86,25.2-18.9,41.92a54.67,54.67,0,0,0,8.69,29.26c7.37,11.67,19,21.78,35.22,30.07H57.63a21.27,21.27,0,0,0-21.27,21.27v78.88H242.3V157.66h25V257.81H473.28V178.93A21.28,21.28,0,0,0,452,157.66ZM152.89,126.38c-8.31-5.22-13.36-10.5-16.31-15.18a23.76,23.76,0,0,1-4-12.87c0-6.75,3.33-13.95,9.26-19.55s13.75-8.93,20.89-8.93h.18c9.15,0,18.27,3.1,27.36,9.14,13.59,9,26.41,24.75,35.36,42.63a140.07,140.07,0,0,1,10.55,27.9C195,145.25,168.3,136.13,152.89,126.38Zm140.94-21.77C301.27,94,310,85,319.07,79s18.21-9.13,27.37-9.14h.1a30.71,30.71,0,0,1,20,7.36c5.06,4.5,7.67,9.89,7.68,15.66,0,6.85-3.64,16.84-19.62,28.52-15.21,11-41.46,22.38-81.95,30.3A141.46,141.46,0,0,1,293.83,104.61Zm-26.49,369H434.6V287.54H267.34Z" transform="translate(-36.36 -39.08)"/></svg>
				</span>
			</a>
		</li>
		<li>
			<a id="js-video-pop" href="/video/player/popup/{{ video_nid }}" target="_blank" class="utility">
            	<span class="icon-popup-1">
            		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980 983"><title>popup</title><path d="M881.4,8.5l-511.1.3c-77.4,0-116.9,34.9-116.9,103.3l.1,108.4,613.7-1.1.1,465.3c72.2,0,122.2-62.9,122.7-131.7l-.6-441C989.4,51.3,952.9,8.5,881.4,8.5ZM638.2,316.1l-511.2.4C55.1,316.5,10.1,359,10.1,446c.4,187.9-.8,252.7.6,440.6,0,69.8,49.4,104.9,131.6,104.9l499.6-.6c72.8,0,105-49,105-131.4l-.7-438C746,356.8,699.8,316.1,638.2,316.1ZM132.9,561.7h491V869.3h-491V561.7Z" transform="translate(-10 -8.5)"/></svg>
            	</span>
        	</a>
		</li>
	</ul>
</div>
<div id="video-player"
data-player-id="{{ player_id }}"
data-player-key="{{ player_key }}"
data-video-id="{{ video_id }}"
data-video-type="{{ video_type }}"
data-video-locked="{{ video_locked }}"
></div>

<h3 id="video-title">{{ video_title }}</h3>
{% endif %}
