<style>
	body {
		background-color: black;
		margin: 0px;
		padding: 0px;
	}

	#video-player, object {
		max-width: 100%;
		height: calc(100vh);
		text-align: center;
	}
	
</style>
{% if content %}
	{% for video in content %}
		<div id="video-player" 
		data-player-id="{{ video.player_id }}" 
		data-player-key="{{ video.player_key }}" 
		data-video-id="{{ video.video_id }}"
		data-video-type="{{ video.video_type }}"
		data-video-locked="{{ video.video_locked }}"
		></div>
	{% endfor %}
{% endif %}