<article{{ attributes }}>
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  <div class="content_image">
    {{ full_image }}
  </div>
  <div class= 'contest_description'>
    {{ content.field_contest_description }}
  </div>
  <div class="contest_entry_form">
	{{ contest_entry_form }}
  </div>
</article>
