{% if page.footer_menu %}
  <footer class="footer {{ container }} visible-lg" role="contentinfo">
    <div class="footer_menu">
      {{ page.footer_menu }}
    </div>
    <div role="contentinfo" class="page_footer">
      <div class="footer_inner">
        <div class="footer_left">
          {{ page.footer_left }}
        </div>
        <div class="footer_right">
          {{ page.footer_right }}
        </div>
      </div>
    </div>
  </footer>{# /.page_footer #}
{% endif %}
