<div class="sb_friends_holder">
		<div class="friend-nav">
			{% if friendcount != 0 %}
			<span class="friend_badge badge badge-danger">{{ friendcount }}</span>
			<svg width="35" id="sb_friends" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / Friends</title><path d="M10.022 14.388h4.03v2.686h-4.03v4.03H7.336v-4.03h-4.03v-2.686h4.03v-4.03h2.686v4.03zm4.97 6.85c2.262-.926 4.675-1.427 7.12-1.477 2.44.064 4.853.565 7.118 1.478 2.552.94 3.627 2.284 3.627 3.895v2.687h-21.49v-2.687c0-1.612 1.207-2.82 3.625-3.895zm10.88-5.776c-1.785 1.7-4.52 1.91-6.546.504-2.024-1.407-2.78-4.045-1.81-6.31.972-2.267 3.404-3.538 5.82-3.042 2.415.495 4.148 2.62 4.148 5.087.04 1.43-.55 2.805-1.612 3.762z" fill-rule="nonzero" fill="#ffffff"/></svg>
			{% else %}
			<svg width="35" id="sb_friends" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / Friends</title><path d="M10.022 14.388h4.03v2.686h-4.03v4.03H7.336v-4.03h-4.03v-2.686h4.03v-4.03h2.686v4.03zm4.97 6.85c2.262-.926 4.675-1.427 7.12-1.477 2.44.064 4.853.565 7.118 1.478 2.552.94 3.627 2.284 3.627 3.895v2.687h-21.49v-2.687c0-1.612 1.207-2.82 3.625-3.895zm10.88-5.776c-1.785 1.7-4.52 1.91-6.546.504-2.024-1.407-2.78-4.045-1.81-6.31.972-2.267 3.404-3.538 5.82-3.042 2.415.495 4.148 2.62 4.148 5.087.04 1.43-.55 2.805-1.612 3.762z" fill-rule="nonzero" fill="#074881"/></svg>
			{% endif %}
			{% if friends %}
			<div class="friends-panel hidden">
				<div class="panel-triangle"></div>
				<div class="panel-inner">
					<div class="panel-header">
							<h3>{{friendheader}}</h3>
							<button type="button" class="friend-cl close">
								<svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / X Close</title><g fill="none" fill-rule="evenodd"><path fill="#73C5F8" d="M9.07 5.536l24.75 24.748-3.536 3.536L5.536 9.07z"/><path fill="#074881" d="M5.536 2l24.748 24.75-3.535 3.534L2 5.536z"/><g><path fill="#73C5F8" d="M5.536 26.75L30.284 2l3.536 3.536L9.07 30.284z"/><path fill="#074881" d="M2 30.284L26.75 5.536l3.534 3.535L5.536 33.82z"/></g></g></svg>
							</button>
					</div>
					<div class="panel-body">
						<ul>
							{% for friend in friends %}
							<li class="friend-request" id="{{ friend.rid }}">
								<div class="friend-avatar">
									<img src="{{friend.avatar}}" alt="{{friend.user}}">
								</div>
								<div class="friend-body">
									<a href="{{frienduserurl}}" class="friend-name">{{friend.user}}</a>
									<div class="friend-msg">
										{{friend.body}}
									</div>
									<div class="friend-date">
										{{friend.date}}
									</div>
								</div>
								<div class="friend-btns">
									<div class="friend-btn">
										<button type="button" name="button" class="friend-accept btn btn-success"><i class="material-icons" style="font-size:25px;color:white; font-weight:bold">check</i></button>
									</div>
									<div class="friend-btn">
										<button type="button" name="button" class="friend-decline btn btn-decline"><i class="material-icons" style="font-size:25px;color:white; font-weight:bold">close</i></button>
									</div>
									<div class="friend-success">
										<button type="button" name="button" class="btn btn-success"><i class="material-icons" style="font-size:25px;color:white; font-weight:bold">check</i><span>{{friendbtn}}</span></button>
									</div>

								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="alert-nav">
			<div class="sb_alerts_btn">
				{% if alertcount != 0 %}
					<span class="alert_badge badge badge-danger">{{ alertcount }}</span>
					<svg width="35" id="sb_alert" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / Alerts</title><path d="M29.2 4c1.53.038 2.762 1.27 2.8 2.8v16.802c-.038 1.53-1.27 2.762-2.8 2.8H9.6L4 32V6.8C4.038 5.27 5.27 4.038 6.8 4h22.4zm-9.94 11.2V9.6h-2.8v5.6h2.8zm0 5.602v-2.8h-2.8v2.8h2.8z" fill-rule="nonzero" fill="#ffffff"/></svg>
				{% else %}
					<svg width="35" id="sb_alert" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / Alerts</title><path d="M29.2 4c1.53.038 2.762 1.27 2.8 2.8v16.802c-.038 1.53-1.27 2.762-2.8 2.8H9.6L4 32V6.8C4.038 5.27 5.27 4.038 6.8 4h22.4zm-9.94 11.2V9.6h-2.8v5.6h2.8zm0 5.602v-2.8h-2.8v2.8h2.8z" fill-rule="nonzero" fill="#074881"/></svg>
				{% endif %}

				{% if alerts %}
				<div class="alerts-panel hidden">
					<div class="panel-triangle"></div>
					<div class="panel-inner">
						<div class="panel-header">
								<h3>{{alertheader}}</h3>
								<button type="button" class="alert-cl close">
									<svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / X Close</title><g fill="none" fill-rule="evenodd"><path fill="#73C5F8" d="M9.07 5.536l24.75 24.748-3.536 3.536L5.536 9.07z"/><path fill="#074881" d="M5.536 2l24.748 24.75-3.535 3.534L2 5.536z"/><g><path fill="#73C5F8" d="M5.536 26.75L30.284 2l3.536 3.536L9.07 30.284z"/><path fill="#074881" d="M2 30.284L26.75 5.536l3.534 3.535L5.536 33.82z"/></g></g></svg>
								</button>
						</div>
						<div class="panel-body">
							<ul>
								{% for alert in alerts %}
								<li class="gen-alert">
									<div class="alert-body">
										<div class="alert-avatar">
											<img src="{{alert.avatar}}" alt="{{alert.user}}">
										</div>
										<div class="alert-inner">
											<a href="{{alert.userurl}}" class="alert-user">{{alert.user}}</a>
											<div class="alert-txt">
												<div>
													{{alert.body}}
												</div>
												<div>
													<a href="{{alert.contenturl}}" class="content-url">{{alert.content}}</a>
												</div>
											</div>
										</div>
									</div>
									<div class="alert-date">
										{{alert.date}}
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}

			</div>
		</div>
		<div class="user-nav">
			<div class = 'user_menu_profile_block'>
				<a href="/users/{{ username }}" class="user-link">
					<img class = 'mini-avatar' src = {{ avatar }} alt= {{ username }} />
				</a>
			</div>
			<div class="user-panel hidden">
				<div class="panel-triangle"></div>
				<div class="panel-inner">
					<div class="panel-header">
							<h3>{{ username }}</h3>
							<button type="button" class="user-cl close">
								<svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title>Icon / X Close</title><g fill="none" fill-rule="evenodd"><path fill="#73C5F8" d="M9.07 5.536l24.75 24.748-3.536 3.536L5.536 9.07z"/><path fill="#074881" d="M5.536 2l24.748 24.75-3.535 3.534L2 5.536z"/><g><path fill="#73C5F8" d="M5.536 26.75L30.284 2l3.536 3.536L9.07 30.284z"/><path fill="#074881" d="M2 30.284L26.75 5.536l3.534 3.535L5.536 33.82z"/></g></g></svg>
							</button>
					</div>
					<div class="panel-body">
						<ul>
							<li>
								<a href="/users/{{ username }}">
									<svg width="35px" height="30px" viewBox="0 0 35 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs></defs>
									    <g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <g id="UserPanel" transform="translate(-724.000000, -212.000000)" fill-rule="nonzero" fill="#0096F4">
									            <g id="Group-7" transform="translate(694.000000, 130.000000)">
									                <g id="ic_home_white_36px" transform="translate(30.000000, 82.000000)">
									                    <polygon id="Shape" points="14 29.75 14 19.25 21 19.25 21 29.75 29.75 29.75 29.75 15.75 35 15.75 17.5 0 0 15.75 5.25 15.75 5.25 29.75"></polygon>
									                </g>
									            </g>
									        </g>
									    </g>
									</svg>
									<span>{{myprofile}}</span>
								</a>
							</li>
							<li>
								<a href="/friends">
									<svg width="35px" height="25px" viewBox="0 0 35 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<defs></defs>
										<g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<g id="UserPanel" transform="translate(-724.000000, -279.000000)" fill-rule="nonzero" fill="#0096F4">
														<g id="Group-7" transform="translate(694.000000, 130.000000)">
																<g id="ic_people_black_36px" transform="translate(30.000000, 149.000000)">
																		<path d="M23.6900826,10.3333333 C26.3117851,10.3333333 28.4123058,8.02555556 28.4123058,5.16666667 C28.4123058,2.30777778 26.3117851,0 23.6900826,0 C21.0683802,0 18.9520661,2.30777778 18.9520661,5.16666667 C18.9520661,8.02555556 21.0683802,10.3333333 23.6900826,10.3333333 Z M11.0553719,10.3333333 C13.6770744,10.3333333 15.777595,8.02555556 15.777595,5.16666667 C15.777595,2.30777778 13.6770744,0 11.0553719,0 C8.43366942,0 6.31735537,2.30777778 6.31735537,5.16666667 C6.31735537,8.02555556 8.43366942,10.3333333 11.0553719,10.3333333 Z M11.0553719,13.7777778 C7.3755124,13.7777778 0,15.7927778 0,19.8055556 L0,24.1111111 L22.1107438,24.1111111 L22.1107438,19.8055556 C22.1107438,15.7927778 14.7352314,13.7777778 11.0553719,13.7777778 Z M23.6900826,13.7777778 C23.2320744,13.7777778 22.7108926,13.8122222 22.158124,13.8638889 C23.990157,15.3105556 25.2694215,17.2566667 25.2694215,19.8055556 L25.2694215,24.1111111 L34.7454545,24.1111111 L34.7454545,19.8055556 C34.7454545,15.7927778 27.3699421,13.7777778 23.6900826,13.7777778 Z" id="Shape"></path>
																</g>
														</g>
												</g>
										</g>
									</svg>
									<span>{{friendbtn}}</span>
								</a>
							</li>
							<li>
								<a href="/badges">
									<svg width="35px" height="25px" viewBox="0 0 35 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs></defs>
									    <g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <g id="UserPanel" transform="translate(-724.000000, -344.000000)" fill-rule="nonzero" fill="#0096F4">
									            <g id="Group-7" transform="translate(694.000000, 130.000000)">
									                <g id="Badges" transform="translate(30.000000, 214.000000)">
									                    <path d="M31.9342997,19.6282912 L27.0684998,20.6080489 C28.3520175,17.818089 29.1171648,14.8175112 29.3265964,11.7527686 C29.523321,8.93621489 29.0365295,6.11317689 27.90765,3.52390638 L30.9729546,4.02414272 L30.688643,8.46182624 L34.7833013,11.7720254 L31.0704307,15.1800721 L31.9352275,19.6272238 L31.9342997,19.6282912 Z M8.61283443,20.8736204 L3.81141513,20.0897546 L4.09572678,15.6520711 L7.54951657e-14,12.3409432 L3.71194276,8.93396391 L2.84593701,4.48388729 L7.13369409,3.67063862 C6.1285391,6.37914315 5.68801174,9.26505665 5.83917215,12.1511071 C5.96430598,15.252523 6.92154967,18.2639711 8.61055707,20.8697668 L8.61283443,20.8736204 Z M17.7794712,0 L27.6961378,4.38383838 L27.6961378,10.959596 C27.6902381,13.9741984 26.6829565,16.9023948 24.8309122,19.2888889 C23.1348051,21.6827115 20.6328283,23.3933768 17.7780492,24.1111111 C14.9104588,23.4217287 12.3992629,21.7047601 10.7251862,19.2888889 C8.873863,16.9016482 7.86757593,13.9729393 7.86280449,10.9581818 L7.86280449,4.38383838 L17.7794712,0 Z M17.7794712,12.0541414 L17.7794712,2.4040404 L10.0654022,5.7979798 L10.0654022,12.0442424 L17.7794712,12.0541414 Z M17.7794712,12.0541414 L17.7794712,21.9191919 C19.8482054,21.2329095 21.6556576,19.9323909 22.9582065,18.1929293 C24.3367526,16.4077187 25.2114641,14.2890847 25.4921181,12.0555556 L17.7794712,12.0541414 Z" id="Combined-Shape"></path>
									                </g>
									            </g>
									        </g>
									    </g>
									</svg>
									<span>{{badges}}</span>
								</a>
							</li>
							<li>
								<a href="/favorites">
									<svg width="29px" height="26px" viewBox="0 0 29 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs></defs>
									    <g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <g id="UserPanel" transform="translate(-727.000000, -404.000000)" fill-rule="nonzero" fill="#0096F4">
									            <g id="Group-7" transform="translate(694.000000, 130.000000)">
									                <g id="Heart" transform="translate(33.000000, 274.000000)">
									                    <path d="M14.5000966,26 L12.3251111,24.1530743 C9.86044979,22.0223219 8.12046139,20.4595386 7.10514593,19.4647244 C5.83065159,18.2476774 4.62073547,16.9673531 3.4801701,15.6288018 C2.17517879,14.0660185 1.16018556,12.7873776 0.725188459,11.5087367 C0.275293851,10.3255953 0.0302571811,9.07713312 0.000193291271,7.81488528 C-0.0146050456,5.73809472 0.820857273,3.74215887 2.31966982,2.27361039 C3.81848236,0.805061913 5.85555077,-0.0135307251 7.97514014,0.000968803288 C10.5019459,-0.037342005 12.9070063,1.06235675 14.5000966,2.98446419 C16.093187,1.06235675 18.4982474,-0.037342005 21.0250532,0.000968803288 C23.3450377,0.000968803288 25.2300251,0.711324847 26.6800155,2.27410814 C28.1475634,3.76269608 28.9777183,5.74534005 29,7.81488528 C28.9397124,9.7373207 28.3374793,11.6058846 27.2600116,13.2135912 C26.1934683,14.957998 24.928753,16.5784617 23.4900367,18.0440123 C22.1850454,19.3226532 19.8650609,21.4537213 16.6750821,24.2951455 L14.5000966,26 Z" id="path"></path>
									                </g>
									            </g>
									        </g>
									    </g>
									</svg>
									<span>{{favorites}}</span>
								</a>
							</li>
							<li>
								<a href="/settings">
									<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs></defs>
									    <g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <g id="UserPanel" transform="translate(-724.000000, -463.000000)" fill-rule="nonzero" fill="#0096F4">
									            <g id="Group-7" transform="translate(694.000000, 130.000000)">
									                <g id="SettingsGear" transform="translate(30.000000, 333.000000)">
									                    <path d="M26.4679724,16.4999995 L29.6793145,18.8998693 C29.9852194,19.1999338 29.9852194,19.499675 29.8322669,19.9497719 L26.7738772,25.1999317 C26.6933591,25.3595814 26.5511493,25.4810571 26.3788704,25.5373465 C26.2065916,25.5936359 26.0185256,25.5800727 25.8564922,25.4996729 L22.032681,23.9996734 C21.2312683,24.6010521 20.3583678,25.104739 19.4331487,25.4996729 L18.8213389,29.3998655 C18.6683864,29.8499623 18.515434,29.9999946 18.0565767,29.9999946 L11.9404566,29.9999946 C11.5733509,30.0013354 11.254945,29.7514738 11.1756944,29.3998655 L10.5638846,25.4996729 C9.61709891,25.1475366 8.7381072,24.640335 7.96435223,23.9996734 L4.14054105,25.4996729 C3.97850761,25.5800727 3.79044168,25.5936359 3.61816282,25.5373465 C3.44588396,25.4810571 3.30367412,25.3595814 3.223156,25.1999317 L0.166744161,19.9504186 C-0.139160734,19.5003217 0.0137917136,19.2005805 0.319696609,18.900516 L3.53103873,16.5006462 L3.53103873,13.5006472 L0.319696609,11.1007774 C0.0137917136,10.8010362 0.0137917136,10.5009716 0.166744161,10.0508748 L3.22513383,4.80103836 C3.30559298,4.64133191 3.44777755,4.51978517 3.62006219,4.46343314 C3.79234683,4.4070811 3.98044495,4.42059672 4.14251888,4.5009738 L7.96633007,6.00097326 C8.76775366,5.39961053 9.64065219,4.8959248 10.5658624,4.5009738 L11.1766833,0.600134493 C11.3296357,0.150037651 11.4825882,5.37001922e-06 11.9414455,5.37001922e-06 L18.0575656,5.37001922e-06 C18.4246712,-0.00133539933 18.7430772,0.248526151 18.8223278,0.600134493 L19.4341376,4.5003271 C20.3809205,4.85246905 21.2599113,5.35967016 22.0336699,6.00032657 L25.8574811,4.5003271 C26.019555,4.41995003 26.2076532,4.40643441 26.3799378,4.46278645 C26.5522224,4.51913848 26.694407,4.64068522 26.7748662,4.80039167 L29.8332558,10.0502281 C30.1391607,10.500325 29.9862083,10.8003895 29.6803034,11.1001307 L26.4689613,13.5000005 L26.4689613,16.4999995 L26.4679724,16.4999995 Z M11.3286468,18.749837 C12.329681,19.75771 13.7189655,20.3026967 15.152458,20.2498364 C17.0788223,20.2708082 18.868076,19.2747454 19.8374828,17.6417215 C20.8068897,16.0086976 20.8068897,13.9906557 19.8374828,12.3576318 C18.868076,10.7246079 17.0788223,9.72854507 15.152458,9.74951686 C12.9889834,9.76972139 11.0461548,11.0532515 10.2138587,13.0122035 C9.38156253,14.9711555 9.82011649,17.2281944 11.3286468,18.7495136 L11.3286468,18.749837 Z" id="path"></path>
									                </g>
									            </g>
									        </g>
									    </g>
									</svg>
									<span>{{accountsettings}}</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="panel-footer-btn">
							<span class="logout-txt">{{notyou}} ></span>
							<a href="/user/logout" class="logout-btn">{{logout}}</a>
						</div>
						<svg width="309px" height="57px" class="panel-face" viewBox="0 0 309 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<g id="XD-draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="UserPanel" transform="translate(-694.000000, -525.000000)" fill="#074881">
												<g id="Group-7" transform="translate(694.000000, 130.000000)">
														<g id="More_Face" transform="translate(0.000000, 395.000000)">
																<path d="M309,36.5933268 L309,49 C309,53.418278 305.418278,57 301,57 L8,57 C3.581722,57 3.70023306e-13,53.418278 3.69482223e-13,49 L3.69482223e-13,37.6641253 L28.0122545,0 L283.266618,0 L309,36.5933268 Z" id="Combined-Shape"></path>
														</g>
												</g>
										</g>
								</g>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="points-area">
				<div class = 'user_points'> {{ username }} </div>
				<div class = 'current_sp'>
					<span class="sp_txt">{{ points }}</span>
				</div>
		</div>
		<div class="sb_divider"></div>
</div>
