{% extends "block--system-menu-block.html.twig" %}
{#
/**
 * @file
 * Theme override for a block--system-menu-block.
 *
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
{{ content }}
{% endblock %}