{% extends "@bootstrap_barrio/block/block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a search form block. Extends Classy's
 * search form block template.
 *
 * Available variables:
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 *   tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <div{{ content_attributes.addClass('content', 'container-fluid') }}>
    {{ parent() }}
    <svg class="mag-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="6106.3 3238.9 17.5 17.6"><defs><style>.cls-1 { fill: #105FA5; }</style></defs><path id="path" class="cls-1" d="M6118.8 3250l5 5-1.5 1.5-5-5v-.8l-.3-.3a6.362 6.362 0 0 1-4.2 1.5 6.04 6.04 0 0 1-4.6-1.9 6.6 6.6 0 0 1-1.9-4.6 6.04 6.04 0 0 1 1.9-4.6 6.6 6.6 0 0 1 4.6-1.9 6.487 6.487 0 0 1 6.5 6.5 6.36 6.36 0 0 1-1.5 4.2l.3.3h.7zm-9.2-1.3a4.588 4.588 0 1 0-1.3-3.2 4.224 4.224 0 0 0 1.3 3.2z"/></svg>
  </div>
{% endblock %}
