<div class = 'bible-chapter-verse-view-alt {{ selection_enabled }}'>
	<h2>{{ chapter_name }}</h2>
	{% for verse in verses %}
    <span class = 'bible-verse verse{{ verse.number }} {{verse.highlighted}}'>
		{% if verse.heading is defined %}
			<h4>{{ verse.heading }}</h4>
		{% endif %}
		<span class='verse-number' data-verse-number='{{ verse.number }}'>{{ verse.number }}</span>
		<span class='verse-text'   data-verse-number='{{ verse.number }}'>{{ verse.text }}</span>
		<br />
		{% if verse.game_data is defined %}
			{% if verse.game_data.is_devo %}
				<button data-verse-id='{{keystub}}{{verse.number}}' class='devo-button'>Devo</button>
			{% endif %}
			{% if verse.game_data.has_word_games == "1" %}
				<button data-verse-id='{{keystub}}{{verse.number}}' class='ws-button'>WS</button>
				<button data-verse-id='{{keystub}}{{verse.number}}' class='vs-button'>VS</button>
			{% endif %}
			{% if verse.game_data.trivia_games|length > 0 %}
			    <button class='trivia-button' data-trivia-ids='{{verse.game_data.trivia_ids}}'>T</button>
			{% endif %}
			<br />
		{% endif %}
	</span>
	{% endfor %}
</div>
{% if chapter_text is defined %}
<div class = 'bible-chapter-text-view'>
	<h2>{{ chapter_name }}</h2>
	<div>
		{{ chapter_text }}
	</div>
</div>
{% endif %}
<div class = 'bible-chapter-panel-alt'>
	<div class = 'bible-panel-header'>
		<span class = 'bible-panel-header-text'>HEADER_TEXT</span>
		<button class = 'bible-panel-close'>X</button>
	</div>
	<div class = 'bible-panel-body'>
	</div>
</div>