<article{{ attributes }}>
	<a href='{{ back_url }}' title='{{ back_btn_txt }}' class="btn ep_button">
		{{ back_btn_txt }}
	</a>
	<div class="feature_area">
		<img src="{{ featured_image }}" alt="{{ title }}">
		<div class="synopsis">
			<h2>{{ title }}</h2>
			{% if episode_num %}
			<p class="ep-num">{{ episode_num }}</p>
			{% endif %}
			{% if season_num  %}
			<p class="season-num">{{ season_num }} </p>
			{% endif %}
			<p class="synopsis_txt">
				{{ synopsis|raw }}
				{% if bible_ref  %}
					 {{ bible_ref }}
				{% endif %}
			</p>
			{% if watch_txt %}
				<a href='{{ video_url }}' title='{{ video_txt }}' class="btn ep_button">
					{{ watch_txt }}
				</a>
			{% endif %}
		</div>
	</div>
	<div class="episode_extra">
	<h3>{{heading_3}}</h3>
	{% if characters %}
		<h4 class="ep-header">{{ heading_4 }}</h4>
		<div id="character_slider" class="flexslider">
			<ul class="slides">
				{% for character in characters %}
					{% if character.img %}
					<li>
						<a href="{{character.url }}" class="slide" title="{{character.name }}" id="{{ character.nid }}">
							<div class="quick">
								<h4 id="c_bio_name_{{ character.nid }}">{{character.name }}</h4>
								<div class="info_panel">{{ character.more_btn_txt }}</div>
							</div>
							<img src="{{ character.img }}" alt="{{character.name }}">
						</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% for character in characters %}
			<div id="c_content_{{ character.nid }}" class="hidden">
				<div class="c_bio_body">
					<img src="{{ character.info_img }}" alt="{{character.name }}">
					<p>{{ character.info_scan|t }}</p>
					<a href="{{character.url }}" class="btn">{{ character.more_btn_txt }}</a>
				</div>
				{% if character.bible_references %}
					<div class="c_bible_reference">
						<hr>
						<h4 class="ep-header">{{character.bible_ref_header }}</h4>
						{{ character.bible_references }}
					</div>
			 	{% endif %}
			</div>
		{% endfor %}
	{% endif %}
	{% if guides %}
	<h4 class="ep-header">{{ episode.heading_5 }}</h4>
	<ul class="guides">
		{% for guide in guides %}
			{% if guide.img %}
				<li>
					<img src="{{ guide.img }}">
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{% if videos %}
	<h4 class="ep-header">{{ heading_6 }}</h4>
	<ul class="ep_video_listing">
		{% for video in videos %}
			{% if video.img %}
				<li class="video_list">
					<a id="video_{{ video.vid }}" href="{{ video.url }}" target="_blank" class="video">
						<img src="{{ video.img }}" alt="{{ video.title }}">
						<div class="title_holder">
							<h3>{{ video.title }}</h3>
						</div>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{% if images %}
		<h4 class="ep-header">{{ heading_7 }}</h4>
		<ul class="wallpapers">
		{% for wallpaper in images %}
			{% if wallpaper.img %}
				<li>
					<img src="{{  wallpaper.img }}">
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
	</div>
	<a href='{{ back_url }}' title='{{ back_btn_txt }}' class="btn ep_button">
		{{ back_btn_txt }}
	</a>
</article>
