<!-- BEGIN OUTPUT from 'themes/custom/superbook/templates/includes/footer.twig' -->
{% if className %}
<div class="{{className}}">
{% endif %}
<div class="top-footer">
  <div class="top-footer-repeat"></div>
  <div class="top-footer-inner">
    {{page.footer_teasers}}
  </div>
</div>
<div class="footer-repeat"></div>
  <div class="footer-top">
    <div class="site-footer__top clearfix {{ container }}">
      {{ page.footer }}
    </div>
    <div class="footer-lines"></div>
  </div>
  <div class="footer-bottom">
    {% if page.footer_bottom %}
      <div class="{{ container }}">
        {{ page.footer_bottom }}
      </div>
    {% endif %}
  </div>
{% if className %}
</div>
{% endif %}
