<!-- BEGIN OUTPUT from 'themes/custom/superbook/templates/includes/header.twig' -->
{% if page.primary_menu %}
  {# Mobile Header #}
  <div class="mobile-header-container">
    <nav class="mobile-header {{ container }}">
      <div class="row">
        <div class="acct col">
          {{ page.mobile_account }}
        </div>
        <div class="col">
          {{ page.branding }}
        </div>
        <div class="menu col">
          <a href="javascript:void(0)" class="menu-toggle">
            <span class="menu-icon-container">
              <span class="menu-icon"></span>
            </span>
          </a>
        </div>
      </div>
    </nav>
    <div class="mobile-menu hidden">
      <div class="top-menu container-fluid">
        {{ page.mobile_menu }}
      </div>
      <div class="more_area">
        <div class="more_inner">
          {{ page.mobile_more }}
        </div>
      </div>
      <div class="menu-bottom">
        <svg width="161" height="21" viewBox="0 0 161 21" xmlns="http://www.w3.org/2000/svg">
          <g fill="#105FA5" fill-rule="evenodd">
            <circle cx="10.5" cy="10.5" r="10.5"/>
            <circle cx="80.5" cy="10.5" r="8.5"/>
            <circle cx="150.5" cy="10.5" r="10.5"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
  {# Desktop Header #}
  {% if page.utility_menu %}
    <div class="utility_menu-bg">
      <div class="utility_menu {{ container }}">
          {{ page.utility_menu }}
      </div>
    </div>
  {% endif %}
  <div class="header-bg">
    <div class=" desktop-header {{ container }}">
      <div class="row clearfix">
        <div class="col-2">
          {{ page.branding }}
        </div>
        <div class="main-nav col-5">
          {{ page.primary_menu }}
          <div class="more-menu hidden">
            {{ page.more_menu }}
            <div class="menu_end">
              <img src="/themes/custom/superbook/images/menu-end.png" alt="Superbook">
            </div>
          </div>
        </div>
        <div class="end col-5">
          <div class="user-nav">
            {{ page.account_menu }}
          </div>
          <div class="language_menu">
            {{ page.language_menu }}
          </div>
        </div>
      </div>
      </div>
  </div>
{% endif %}
