.all-games .featured-section {
  position: relative;
  top: -20px;
}

.games-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(xss) {
    justify-content:center;
  }
  @include media-breakpoint-up(sm) {
    justify-content:space-around;
  }
  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
  .teaser-outer-wrapper {
    margin: 1em;
  }
}
