.all-videos {
  background-color: #598ae4;
}

.all-videos .featured-section {
  position: relative;
  top: -20px;
  background-color: #598ae4;
}

.all-videos .video-section {
  position: relative;
  @include media-breakpoint-up(xss) {
    top: 0px;
  }
  @include media-breakpoint-up(md) {
    top: 0px;
  }

}

.video-grid, .more-episode-clips-grid, .more-episodes-grid, .more-highest-rated-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(xss) {
    justify-content:center;
  }
  @include media-breakpoint-up(sm) {
    justify-content:space-around;
  }
  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
  .teaser-outer-wrapper {
    margin: 1em;
  }
}

.video-filter {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  h3 {
    color: #fff !important;
  }
  .filter {
    position: absolute;
    bottom: 0;
    right: 7px;
    display: block;
    width: 60px;
    height: 60px;
  }
}

//////////////////////////
// more filter
///////////////////////
.more_arrow, .more_arrow:before, .more_arrow:after {
  position: relative;
  height: 30px;
  width: 30px;
  transition-duration: .2s,.2s;
  transition-delay: .2,0s;
}

.less_txt, .load_txt {
  display: none;
}

.more_arrow::before {
  content: " ";
  height: 20px;
  width:  4px;
  position: absolute;
  background-color: #fff;
  top: 10px;
  left: 20px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.more_arrow::after {
  content: " ";
  height: 20px;
  width:  4px;
  position: absolute;
  background-color: #fff;
  bottom: 0px;
  right: -6px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.load_more {
  position: absolute;
  bottom: -12px;
  right: 7px;
  display: block;
  width: 60px;
  height: 60px;
  .more_arrow {
    transition:background-color 2 ease
  }

  .more_txt, .less_txt {
    display: none;
  }

  .load_txt {
    display: block;
  }

  .more_arrow::before {
    left: 26px;
    bottom: 0px;
    border-radius: 25px;
    transform:rotate(-40deg);
    transition-property:transform,right
  }

  .more_arrow::after {
    right:15px;
    transform:rotate(-40deg);
    transition-property:transform,right
  }

}

.close_more {
  position: absolute;
  bottom: -12px;
  right: 7px;
  display: block;
  width: 60px;
  height: 60px;
  .more_arrow {
    transition:background-color 2 ease
  }

  .more_txt, .load_txt {
    display: none;
  }

  .less_txt {
    display: block;
  }

  .more_arrow::before {
    left: 26px;
    bottom: 0px;
    transform:rotate(-40deg);
    border-bottom: 5px solid #76c6f6;
    transition-property:transform,bottom,left
  }

  .more_arrow::after {
    right:0px;
    transform:rotate(40deg);
    border-top: 5px solid #76c6f6;
    transition-property:transform, right
  }

}

.episode_title_listing {
  width: 100%;
  text-align: left;
  color: #fff;
  margin-left: 17px;

}
