


.games-section-top {
  background: url('/themes/custom/superbook/images/Games-RepeatableBG_TOP-1030.png') top;
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  margin-top: 3rem;
}

.games-section-middle .paragraph-section-header-ico{
  background: url('/themes/custom/superbook/images/games-ico.png') center top no-repeat;
  background-size: cover;
 }

 .games-section-bottom {
   display: none;
   position: absolute;
   background: url('/themes/custom/superbook/images/Games-bottom.png') center top;
   background-repeat: repeat-x;
   width: 100%;
   height: 1345px;
   @include media-breakpoint-up(md) {
     display: block;
   }
 }

.games-section .Wrap{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36d1dc+0,5b86e5+100 */
  background: #36d1dc; /* Old browsers */
  background: -moz-linear-gradient(top, #36d1dc 0%, #5b86e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #36d1dc 0%,#5b86e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #36d1dc 0%,#5b86e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36d1dc', endColorstr='#5b86e5',GradientType=0 ); /* IE6-9 */
}

.video-section-top {
  background: url('/themes/custom/superbook/images/Videos-RepeatableBG_TOP-1030.png') top;
  background-repeat: repeat-x;
  width: 100%;
  height: 315px;
}

.video-section-middle .paragraph-section-header-ico{
  background: url('/themes/custom/superbook/images/videos-ico.png') center top no-repeat;
  background-size: cover;
 }


.video-section .Wrap{
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b06ab3+0,121472+100 */
  background: #b06ab3; /* Old browsers */
  background: -moz-linear-gradient(top, #b06ab3 0%, #121472 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b06ab3 0%,#121472 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b06ab3 0%,#121472 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b06ab3', endColorstr='#121472',GradientType=0 ); /* IE6-9 */
}

.homepage .video-section {
  position: relative;
  @include media-breakpoint-up(xss) {
    top: -330px;
  }
  @include media-breakpoint-up(md) {
    top: -172px;
  }

}

.video-section-bottom {
  position: absolute;
  background: url('/themes/custom/superbook/images/Videos-bottom.png') center top;
  background-repeat: repeat-x;
  width: 100%;
  height: 1345px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.contest-section-top {
  background: url('/themes/custom/superbook/images/Contests-RepeatableBG_TOP-1030.png') top;
  background-repeat: repeat-x;
  width: 100%;
  height: 270px;
}

.contest-section-middle .paragraph-section-header-ico{
  background: url('/themes/custom/superbook/images/contests-ico.png') center top no-repeat;
  background-size: cover;
 }

 .contest-section-bottom {
   position: absolute;
   display: none;
   background: url('/themes/custom/superbook/images/Contests-bottom.png') center top;
   background-repeat: repeat-x;
   width: 100%;
   height: 1345px;
   @include media-breakpoint-up(md) {
     display: block;
   }
 }

.contest-section .Wrap{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85f9a5+0,01cafd+100 */
background: #85f9a5; /* Old browsers */
background: -moz-linear-gradient(top, #85f9a5 0%, #01cafd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #85f9a5 0%,#01cafd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #85f9a5 0%,#01cafd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85f9a5', endColorstr='#01cafd',GradientType=0 ); /* IE6-9 */
}

.homepage .contest-section {
  position: relative;
  @include media-breakpoint-up(xss) {
    top: -550px;
  }
  @include media-breakpoint-up(md) {
    top: -260px;
  }
}


.paragraph-section-header-ico {
  display: inline-block;
  position: relative;
  margin-right: 1rem;

  @include media-breakpoint-up(xss) {
    height: 40px;
    width: 40px;
    top: 5px;
  }

  @include media-breakpoint-up(md) {
    height: 186px;
    width: 183px;
    top: 44px;
    margin-right: 2rem;
  }

  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}

}
