.qna_machine {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.qna_machine_topics {
  position: relative;
  background-color: $black;
  color: $white;
  text-align: center;
  box-sizing: border-box;
}

.qna_machine_questions {
  position: relative;
  background-color: #1E90FF;
  color: $white;
  text-align: center;
  box-sizing: border-box;
}

.qna_machine_label,  .qna_machine_randomizer  {
  background-color: $yellow;
  cursor: pointer;
  color: $red;
  width: 100%;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.qna_machine .forward {
  position: absolute;
  right: 1em;
  outline: none;
  top: 50%;
  color: $white;
  z-index: 2000;
  color: $red;
  background-color: $yellow;
}

.qna_machine .back {
  position: absolute;
  outline: none;
  left: 1em;
  top: 50%;
  color: $white;
  z-index: 2000;
  color: $red;
  background-color: $yellow;
}

.qna_machine_randomizer {
  width: 25%;
  margin: 0 auto;
  position: relative;
  top: -22px;
  text-transform: uppercase;
  font-weight: bold;
}

.qna_machine_answer {
  background-color: #4682B4;
  color: $white;
  padding: 2em;
  min-height: 300px;
  box-sizing: border-box;
  word-wrap: break-word
}

.qna_topic, .qna_question {
  font-size: 2em;
  @include m600 {
    font-size: 1.5em;
  }
}

.qna_question {
  font-size: 1.5em;
  @include m600 {
    font-size: 1em;
  }
}

.qna_machine_panel {
  margin-bottom: 1em;
}

.slider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.holder {
  position: relative;
  box-sizing: border-box;
  // number of slides x 100%
}

.qslide {
  float: left;
  padding-top: 1em;
  height: 200px;
  vertical-align: top;
}

.randomize {
  animation: 1s slidy infinite;
}

.slide-left {
  animation: 5s slide-left;
  animation-delay: 1s;
}

@keyframes slidy {
  0% {left: 800%;}
  100% {left: -300%;}
}

@keyframes slide-left {
  0% {left: 0%;}
  100% {left: -300%;}
}

@keyframes slide-right {
  0% {left: 0%;}
  100% {left: 800%;}
}

@keyframes slidy-right {
  0% {left: -300%;}
  100% {left: 800%;}
}
