/***********************
  Button Overrides
************************/

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 4px solid #fff;
    font-weight: 1500;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 32px;
    text-transform: uppercase;
    &.btn-success {
      border: 4px solid #074881;
    }
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
  background: #0096f4;
  box-shadow: inset 0 -4px 1px 1px #10559B;
  cursor: pointer;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, {
  background: #65c3fd;
  color: #ffffff;
  box-shadow: none;
}

.btn-primary:active, .btn-primary.active {
  background: #ffffff;
  color: #0096f4;
  box-shadow: none;
}

.btn-pink {
  background: #ff6ffc;
  box-shadow: inset 0 -4px 1px 1px #bc54ba;
  cursor: pointer;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, {
  background: #fc96fa;
  color: #ffffff;
  box-shadow: none;
}

.btn-pink:active, .btn-primary.active {
  background: #ffffff;
  color: #ff6ffc;
  box-shadow: none;
}

.btn-green {
  background: #12be7d;
  box-shadow: inset 0 -4px 1px 1px #0c8658;
  cursor: pointer;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
  background: #2cdd9a;
  color: #ffffff;
  box-shadow: none;
}

.btn-green:active, .btn-green.active {
  background: #ffffff;
  color: #12be7d;
  box-shadow: none;
}

.btn-warning {
  background: #ff9600;
  box-shadow: inset 0 -4px 1px 1px #b44c00;
  cursor: pointer;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, {
  background: #ffb100;
  color: #ffffff;
  box-shadow: none;
}

.btn-warning:active, .btn-warning.active {
  background: #ffffff;
  color: #ff9600;
  box-shadow: none;
}


.btn-more {
  background: #7e55db;
  box-shadow: inset 0 -4px 1px 1px #6544b0;
  cursor: pointer;
}

.btn .material-icons {
  position: relative;
  top: 5px;
}

.btn-more:hover, .btn-more:focus, .btn-more:active, .btn-more.active, {
  background: #9877e2;
  color: #ffffff;
  box-shadow: none;
}

.btn-more:active, .btn-more.active {
  background: #ffffff;
  color: #7e55db;
  box-shadow: none;
}

.btn-success {
    background: #12BE7D;
    color: #ffffff;
    box-shadow: inset 0 -4px 1px 1px #0E9A7D;
    cursor: pointer;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
    background: #58D1A3;
    color: #ffffff;
    box-shadow: none;
}
.btn-success:active, .btn-success.active {
    background: #ffffff;
    color: #12BE7D;
    box-shadow: none;
}

.btn-danger {
  background: #eb3541;
  color: #ffffff;
  box-shadow: inset 0 -4px 1px 1px #b2030f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.btn-primary {
  background: #fc5c67;
  color: #ffffff;
  box-shadow: none;
}

.btn-danger:active, .btn-danger.active {
  background: #ffffff;
  color: #eb3541;
  box-shadow: none;
}

.btn-decline {
  background: #9c1921;
  color: #ffffff;
  border-color: #074881;
  box-shadow: inset 0 -4px 1px 1px #6f263d;
}

.btn-decline:hover, .btn-decline:focus, .btn-decline:active, .btn-decline.active, .open > .btn-decline.btn-primary {
  background: #b95d63;
  color: #ffffff;
  box-shadow: none;
}

.btn-decline:active, .btn-decline.active {
  background: #ffffff;
  color: #9c1921;
  box-shadow: none;
}
