#countryModal {
  .country_name {
    width: 50%;
    @include float-left;
    text-align: left;
  }

  .county_lang {
    width: 50%;
    @include float-left;
    text-align: left;
    padding-left: 2rem;
  }
}

#block-countryselectorblock {
  position: relative;
}

.lang_menu {
  position: absolute;
  z-index: 1000;
  top: 110px;
  right: 0px;
  width: 300px;
  background-color: $blue;
  font-family: 'exo', sans-serif;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  .lang_menu_inner {
    padding-top: 1rem;
  }
  .lang_header {
    border-bottom: 2px solid #fff;
    @include padding-left(1rem);
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .lang_body {
    text-align: center;
  }

  .lang_body h3 {
    font-size: 1.2rem;
    margin: 0px;
    margin-top: 1rem;
  }

  .cnty-item {
    height: 50px;
  }

  .cnty-name {
    width: 50%;
    @include float-left;
    text-align: right;
  }

  .cnty-lang {
    width: 50%;
    @include float-left;
    text-align: left;
    padding-left: 2rem;
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 1rem
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    display: block;
    width: 100%;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.active-lang {
      background-color: $dark-blue;
    }
  }

  .menu_end img{
    max-width: 100%;
  }
}
