.featured-image {
  margin-top: -30px;

}

.featured-image-inner {
  position: relative;
  .container {
    position: relative;
    text-align: right;
  }
}

.featured-section{
  margin: 0 auto;
  padding: 0px !important;
}

.featured-image-transparency {
  opacity: 0.7;
  width: 100%;
  height: 7rem;
  position: absolute;
  top: 0px;
  z-index: 100;
  filter: blur(9px);
  @include media-breakpoint-up(xss) {
    height: 2.5rem;
  }
  @include media-breakpoint-up(sm) {
    height: 3rem;
  }
  @include media-breakpoint-up(md) {
    height: 7rem;
  }
}

.featured-image-waves {
  background: url('/themes/custom/superbook/images/waves.png') center top no-repeat;
  background-size: cover;
  width: 100%;
  height: 114px;
  bottom: 159px;
  position: absolute;
  z-index: 100;

  @include media-breakpoint-up(xss) {
    bottom: 115px;
    height: 90px;
  }

  @include media-breakpoint-up(sm) {
    bottom: 159px;
    height: 114px;
  }

}

.featured-image-blue {
  position: absolute;
  width: 100%;
  background-color: #091d44;
  height: 10rem;
  bottom: 0px;
  z-index: 90;
}
