.homepage-footer {
  @include media-breakpoint-up(xss) {
    margin-top: -840px;
  }
  @include media-breakpoint-up(md) {
    margin-top: -425px;
  }
}

.gamespage-footer, .videospage-footer {
  @include media-breakpoint-up(xss) {
    margin-top: -100px;
  }
  @include media-breakpoint-up(md) {
    margin-top: -150px;
  }
}

.top-footer-inner {
  background-color: #091d44;
  @include media-breakpoint-up(md) {
    padding-top: 2rem;
  }
}

.top-footer-repeat {
  @include media-breakpoint-up(xss) {
    height: 105px;
    background-image: url('/themes/custom/superbook/images/footer-top-repeat-sm.png');
  }
  @include media-breakpoint-up(md) {
    height: 155px;
    background-image: url('/themes/custom/superbook/images/footer-top-repeat.png');
  }
  width: 100%;
  position: relative;
  top: 1px;
  background-position: top;
}
.footer-repeat {
  background-image: url('/themes/custom/superbook/images/footer-repeat.png');
  width: 100%;
  height: 40px;
  position: relative;
  top: 1px;
  background-position: top;
}

.site-footer {
  padding-bottom: 0px;
  position: relative;
}

.site-footer .block {
  border: 0px;
  margin: 0px;
}

.region-footer {
  width: 100% !important;
}

.footer-lines {
  width: 100%;
  background-image: url('/themes/custom/superbook/images/footer-lines.png');
  background-position: bottom;
  height: 22px;
  background-color: #fff;
}

.footer-top {
  width: 100%;
  background-color: #fff;
  a {
    color: $blue;
    font-family: 'exo', sans-serif;
    text-transform: uppercase;
  }
  a:hover {
    color: $dark-blue;
  }
}

.footer-top .navbar-nav {
  display: flex;
  flex-direction: column;
   width: 55%;
   margin-bottom: 2rem;
   @media (min-width: 576px) {
     width: 100%;
     flex-direction: row-reverse;
   }
  li {
    margin-left: 1rem;
  }
}

.footer-bottom {
  background-color: $royal-blue;
  width: 100%;
  padding: 0px;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu--footer .nav-link {
  margin-right: 2rem;
  i {
    position: absolute;
  }
}

.footer-logo img{
  max-width: 162px;
}

.footer-trademark, .footer-copyright {
  color: $blue;
  font-size: small;
}
