///////////
/// HEADER
///////////

.header {
  position: relative;
  z-index: 300;
}

#block-superbookbrandingblock{
  margin-top: 0.5rem;
  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    text-align: left;
  }
}

.header-logo {
  max-width: 100%;
  @include media-breakpoint-up(md) {
      max-width: 200%;
  }
}

.header-bg {
  background: $royal-blue;
  width: 100%;
  display: none;
}

.sb_divider {
  border-right: 2px solid white;
  height: 56px;
}


////////////
// UTILITY
/////////////

.utility_menu-bg {
  background-color: $dark-blue;
  display: none;
}

.utility_menu {
  padding: 1rem;
  @include media-breakpoint-up(md) {
    padding: 0.5rem;
  }
}

.utility .nav .nav-item, #block-productsforparents .nav .nav-item {
  font-family: 'exo-med', sans-serif;
  @include media-breakpoint-up(md) {
    text-decoration: underline;
  }
}

.menu--products-for-parents {
  display: flex;
  justify-content:flex-end;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5em;
  background-color: $dark-blue;
}
.menu--products-for-parents ul.nav {
  display: block;
  li a{
    font-family: "exo-med", Helvetica,Arial,sans-serif;
    text-decoration: underline;
    font-size: small;
  }
}

#block-productsforparents ul.nav, #block-productsforparents .nav-title {
  font-size: 1em;
  font-family: "exo-med", Helvetica,Arial,sans-serif;
  font-size: small;
}

#block-productsforparents .nav-title {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: $blue;
}

#block-superbook-productsforparents-menu {
  color: $blue;
}

#block-productsforparents {
  display: flex;
  justify-content: flex-end;
}

.end {
  display: flex;
  width: 50%;
  padding-top: 2.4rem;
  justify-content: flex-end;
}

///////////////
// PRIMARY NAV
///////////////

.main-nav .navbar-nav {
  margin-left: 3rem;
  flex-direction: row;
}

#block-superbook-main-menu .nav-item a {
  text-align: center;
  padding: 2rem;
  @include media-breakpoint-up(md) {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 2rem;
    padding-right: 2rem
  }

  text-transform: uppercase;
  border-bottom: solid 4px #105FA5;
  font-family: 'exo-extra-bold', sans-serif;
  &:hover, &.active {
    background: $blue;
    color: #fff;
    border-bottom: solid 4px #fff;
  }
}

/////////////
// Hamburger
////////////
.menu-toggle {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 0px;
  font-weight: 400;
}

.menu-icon-container {
  position: relative;
  font-size: 2px;
}

.menu-icon, .menu-icon:before, .menu-icon:after {
  height: 5px;
  width: 30px;
  left: 0px;
  position: absolute;
  background-color: #fff;
  display: inline-block;
  transition-duration: .2s,.2s;
  transition-delay: .2,0s;
  border-right: 5px solid #76c6f6;
}

.menu-icon:before {
  top: -9px;
  content: " ";
  transform: rotate(0deg);
  transition-property: top,transform;
}

.menu-icon:after{
  bottom: -10px;
  content: " ";
  transform: rotate(0deg);
  transition-property: bottom,transform;
}

.close-menu .menu-icon {
  background-color:transparent;
  border-right: none !important;
  transform:rotate(360deg);
  transition:background-color 2 ease,transform

}

.close-menu .menu-icon:before {
  top:-4px;
  transform:rotate(-40deg);
  transition-property:transform,top
}

.close-menu .menu-icon:after {
  bottom:4px;
  transform:rotate(40deg);
  transition-property:transform,bottom
}

////////////
// MORE
/////////////

.more-menu {
  position: absolute;
  z-index: 1000;
  top: 149px;
  right: -30px;
  width: 223px;
  background-color: $blue;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @include media-breakpoint-up(md) {
    right: -83px;
  }

  @include media-breakpoint-up(lg) {
    right: -70px;
  }

  @include media-breakpoint-up(xl) {
    right: -91px;
  }

  .menu-name {
    margin-top: 1rem;
  }

  .menu_end img{
    max-width: 100%;
  }
  .nav-item {
    padding: 0.5rem;
    clear: both;
    display: block;
    width: 100%;
    border: none;
    font-family: 'exo-extra-bold', sans-serif;
    &:hover {
      background-color: $dark-blue;
      border: 0px;
    }
  }
  .nav-link {
    &:hover {
      border: none;
      color: #fff;
    }
  }
  svg {
    float: right;
  }
  .menu-name {
    display: inline-block;
  }

  nav .nav-item:nth-child(5) {
    border-top: 2px solid #fff;
    font-size: small;
    padding: 0.5rem;
  }

  nav .nav-item:nth-child(6) {
    font-size: small;
    padding: 0.5rem;
  }

  nav .nav-item:nth-child(7) {
    font-size: small;
     padding: 0.5rem;
  }

  nav .nav-item:nth-child(8) {
    font-size: small;
    padding: 0.5rem;
  }

  nav .nav-item:nth-child(9) {
    font-size: small;
    padding: 0.5rem;
  }

}

//////////////////
/// LOGIN / LOGOUT
//////////////////

#block-superbook-account-menu {
  border-right: 2px solid #fff;
  margin-top: 2rem;
  padding-right: 2rem;
  .nav-link {
    border: 1px solid #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'exo', sans-serif;
    font-weight: lighter;
    &:hover {
      background-color: #fff;
      color: $dark-blue;
    }
  }
}

//////////////////
/// USER
//////////////////

.sb_friends_holder {
  display: flex;
  position: relative;
  top: 20px;
}

.language-chooser-desktop {
  float: left;
  width: 100px;
}

.country-selector-desktop {
  display: block;
  padding: 2rem;
  border-bottom: solid 4px #105FA5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  &:hover, &.active {
    background: $blue;
    border-bottom: solid 4px #fff;
  }

}

.current_sp {
	@include margin-right(1rem);
	margin-top: 0.3em;
	background-image: url('/themes/custom/superbook/images/spbg.png');
  background-repeat: no-repeat;
		width: 143px;
		height: 21px;
    overflow: hidden;
    margin-right: 1em;
	.sp_label {
	    float:right;
	    width: auto;
	    height: 16px;
			margin-top:  0.5em;
			margin-right: 1em;
	    font-size: small;
			font-style: italic;
			font-family: 'exo', sans-serif;
	    color: $white;
	}

	.sp_txt {
		display: block;
	    float: left;
	    font-size: small;
			font-style: italic;
			font-family: 'exo', sans-serif;
	    color: $white;
	    @include text-align-right;
	    margin-left: 2.5rem;
			margin-top: 0.1rem;
	}
}

.user_points {
	color: #55E0C6;
	font-family: 'exo-extra-bold', sans-serif;
	text-align: left;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_menu_profile_block {
	border: 1px solid;
	border-radius: 50px;
	background-color: $white;
	margin-right: 1em;
	height: 45px;
	width: 45px;
	padding: 0px;
  position: relative;

	a {
		display: block;
    position: absolute;
    top: -16px;
    left: -18px;
		img { margin: 0px;}
	}
}

.points-area {
  margin-right: 1rem;
}

.friend-nav, .alert-nav {
  position: relative;
  margin-right: 2rem;
  margin-top: .3rem;
  @include media-breakpoint-up(md) {
    margin-right: 1rem;
  }
}

//////////////
// User panel
/////////////

.user-panel {
  position: absolute;
  z-index: 1000;
  top: 73px;
  right: 180px;
}

.user-panel .panel-inner {
  height: 405px;
  width: 311px;
}

.user-panel .panel-body ul {
  margin: 0px;
  padding: 0px;
  li {
    a {
      color: $dark-blue;
      text-transform: uppercase;
      font-family: 'exo-extra-bold', sans-serif;
      display: block;
      padding: 0.5rem;
      padding-left: 2rem;
      width: 100%;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      &:hover{
        background-color: $dark-blue;
        border-top: 2px solid $blue;
        border-bottom: 2px solid $blue;
        color: #fff;
        text-shadow: 1px 1px 6px $blue;
        text-decoration: none;
        svg g{
          fill: #fff;
        }

        svg {
          filter: drop-shadow( 1px 1px 6px $blue );
        }
      }
      span {
        margin-left: 2rem;
      }
    }
    &:last-child {
      border-bottom: 2px solid $blue;
    }
  }
}

.panel-footer {
  position: absolute;
  bottom: -9px;
  left: 0px;
}

.logout-txt {
  color: $blue;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  font-family: 'exo', sans-serif;
  left: 17%;
}

.logout-btn {
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  text-transform: uppercase;
  border-radius: 25px;
  padding: .5rem;
  font-family: 'exo', sans-serif;
  top: 9px;
  font-size: smaller;
  right: 19%;
  &:hover {
    background-color: #fff;
    color: $blue;
    text-decoration: none;
  }
}

//////////////
// ALERT/Friends
////////////

.alert-nav, .friend-nav {
  cursor: pointer;
}

.alert-nav .badge, .friend-nav .badge {
  position: absolute;
  right: -11px;
  top: -11px;
}

.alerts-panel, .friends-panel {
  position: absolute;
  z-index: 1000;
}

.alert-user {
  color: $dark-blue;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: 'exo-med', sans-serif;
}

.alert-txt {
  font-size: small;
}

.alert-cl {
  outline: none;
}

.gen-alert {
  width: 100%;
  float: left;
  display: block;
  margin: 0px;
  border-bottom: 1px solid $blue;
  padding-bottom: 1rem;
  padding-right: 1rem;
  &:last-child {
    border-bottom: none;
  }
}

.alert-body {
  display: flex;
  margin-bottom: 1em;
}

.alert-inner {
  margin-top: 1rem;
  width: 74%;
}

.alert-avatar {
  text-align: left;
  width: 25%;
}

.content-url {
  color: red;
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.alert-date {
  float: right;
  width: 59%;
  color: #c4c4c4;
  font-size: small;
  text-align: right;
}

///////////
//// FRIEND
/////////////

.friend-request {
  width: 100%;
  display: flex;
  float: left;
  margin: 0px;
  padding: 1rem;
  border-bottom: 1px solid $blue;
  padding-bottom: 1rem;
  &:last-child {
    border-bottom: none;
  }
}

.friend-avatar {
  text-align: left;
  width: 25%;
}

.friend-body {
  width: 50%;
}

.friend-btns {
  width: 32%;
}

.friend-btns button {
  min-width: 80px;
}

.friend-name {
  color: $dark-blue;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: 'exo-med', sans-serif;
}

.friend-msg {
  font-size: small;
  margin-bottom: .5rem;
}

.friend-date {
  color: #c4c4c4;
  font-size: small;
}

.friend-btn {
  margin-bottom: .5rem;
}

/////////////
/// PANEL
///////////

.friend-nav .panel-inner {
  width: 435px;
  min-height: 200px;
}

.friend-success span {
  position: relative;
  top: -5px;
}

.friend-success {
  display: none;
}

.friends {
  background-color: #daf5eb;
  .friend-success {
    display: block !important;
  }
  .friend-btn {
    display: none !important;
  }
}

.panel-header {
  border-bottom: 1px solid $dark-blue;
  height: 60px;
  width: 100%;
  padding: 1rem;
  h3 {
    float: left;
    margin: 0px;
    font-size: 2rem;
    width: 73%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .close {
    float: right;
    width: 25%;
    text-align: right;
    outline: none;
    svg {
      width: 20px;
    }
  }
}

.panel-body ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.panel-inner {
  position: absolute;
  z-index: 2;
  color: black;
  background-color: #fff;
  min-height: 45px;
  width: 331px;
  padding-bottom: 1rem;
  top: 29px;
  left: -57px;
  border-radius: 25px;
  border: 1px solid $blue;
  border-top: 0px;
}

.panel-triangle {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -22px;
  width: 78px;
  height: 78px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: $blue;
  transform: rotate(45deg);
}

@include media-breakpoint-up(md) {
 .utility_menu-bg, .header-bg {
    display: block;
  }

  .mobile-header-container {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .friend-nav, .alert-nav {
    display: block;
  }
}
