//////////
///////// Mobile Header
/////////
.mobile-header-container {
  padding-top: 1rem;
  background-color: #105FA5;
}

.mobile-header .site-logo img {
  max-width: 100%;
  @include media-breakpoint-down(sm) {
    max-width: 125%;
  }
}

.mobile-header .acct {
  float: left;
  text-align: center;
}
.mobile-header .logo {
    float: left;
  text-align: center;
}

.mobile-header .menu {
  float: left;
  @include text-align-right;
}

.mobile-header .acct .nav-link {
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  font-size: 11px;
}

// mobile more_menu
.mobile-menu {
  background-color: $blue;
}

.more_area {
  background-image: url("/themes/custom/superbook/images/more_face.png");
  background-repeat: no-repeat;
  background-position: -26px top;
  padding-top: 2rem;
}

.more_inner {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: $dark-blue;
  text-align: center;
}

.more_inner .nav {
  display: block;
  margin: 0 auto;
}

.top-menu {
  text-align: center;
  padding-top: 1rem;
}

.top-menu .nav {
  justify-content: flex-end;
}

.top-menu .nav-item {
  text-transform: uppercase;
  margin-right: 0.5rem;
}

// search
.search-block-form {
  position:relative;
  #edit-submit {
    display: none;
  }
}

input[type="search"] {
    width: 100%;
    background-color: #76C8FF;
}

.mag-icon {
  position: absolute;
  top: 9px;
  right: 45px;
}
.mag-icon .cls-1 {
  fill: $dark-blue;
}

// Lang
.btn-country {
  margin-top: 1rem;
  border-radius: 30px;
  border: 2px solid $blue;
  background-color: $dark-blue;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  position: relative;
  width: 225px;
}

.cnty-txt {
  margin-right: 2rem;
}

.language_ico {
  position: absolute;
  top: -1px;
  right: 40px;
}

.menu-bottom {
  text-align: center;
  padding: 1rem;
}

// user
[data-drupal-link-system-path="user/logout"] {
  display: none;
}

.user_avatar {
  display: block;
  width: 32px;
	height: 32px;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  .mini-avatar {
    position: absolute;
    top: -5px;
    left: 0px;
  }
}

.mobile-header .acct .nav-link {
  background-image: url("/themes/custom/superbook/images/navigation button.png");
  background-repeat: no-repeat;
  background-position-x: -25px, center;
  background-position-y: 9px;
  width: 77px;
  padding-left: 1rem;
  margin-left: -15px;
  @include text-align-left;
}

/// Language model
#countryModal {
  color: $dark-blue;
  ul {
    text-align: left;
  }
  a {
    color: $blue;
  }
}
