.modal {

}

.modal-dialog {

}

.modal-body {
  overflow-x: scroll;
  max-height: 500px;
  padding: 1rem;
}

.modal-title {
  font-family: "exo", Helvetica,Arial,sans-serif;
  color: $dark-blue;
  font-size: 1.5rem;
  font-weight: bold;
}

.county_region {
  text-align: left;
}

.country_list {
  width: 70%;
}

.country_item {
  width: 100%;
  padding: 0.5rem;
}

.close {
  opacity: 9;
}

.country_name {
  @include float-left;
}

.country_lang {
  @include float-right;
  font-weight: bold;
}
