.paragraph-header {
  margin-top: -50px;
  position: relative;
  z-index: 200;
  margin-bottom: 3em;
  h2 {
    font-size: 3.5rem;
    @include media-breakpoint-up(xl) {
      font-size: 5.5rem;
    }
    font-family: 'exo-extra-bold', sans-serif;
    text-transform: uppercase;
  }
}
