.featured-section {
  text-align: center;
  margin-bottom: 3rem;
}

.paragraph-section-featured {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.Wrap {
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(xl) {}
  padding-bottom: 9.5rem;
}

.paragraph-more-btn {
  text-align: center;
}

.middle {
  text-align: center;
  position: relative;
  top: -150px;
  z-index: 11;
}

.section-heading{
  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 7.188rem;
    margin-bottom: 5rem;
  }
  @include media-breakpoint-up(xl) {}
  font-family: "exo-extra-bold", Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.paragraph-teasers .field--type-entity-reference {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include media-breakpoint-up(xss) {
    justify-content:center;
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 2rem;
    justify-content: space-around;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 8.438rem;
    justify-content: space-between;
  }
  @include media-breakpoint-up(xl) {}
}

.paragraph-teasers .teaser-outer-wrapper {
  margin: 1.5em;
}
