{#

/**
 * @file
 *
 * Template file for generating the CSS file used for the menu item icons.
 */

#}
{{dump(icons)}}
{% for icon in icons %}
    a.menu-icon-{{ icon.mlid }},
    ul.links li.menu-icon-{{ icon.mlid }} a,
    ul.menu li.menu-icon-{{ icon.mlid }} a {
        background-image: url({{ icon.path }});
        display: block;
        padding: 20px;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
        padding-top: 4em;
        background-repeat: no-repeat;
        background-position: 50% 25%;
    }
    @media (max-width: 1423px) {
      a.menu-icon-{{ icon.mlid }},
      ul.links li.menu-icon-{{ icon.mlid }} a,
      ul.menu li.menu-icon-{{ icon.mlid }} a {
        background-image: url({{ icon.path }});
        display: block;
        padding: 20px;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        padding-top: 4em;
        background-repeat: no-repeat;
        background-position: 50% 25%;
      }
    }
{% endfor %}
