<article{{ attributes }}>
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  <div class="game_holder">
  	{{ game_frame }}
  	<div class="game_social">
  		<ul class="util-right">
			<li>
				{{ fav_thumb }}
			</li>
			<li>
				<a href="#" class="share utility" data-share-id="{{ nid }}">
					<span class="icon-share">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.92 434.52"><title>gift</title><path d="M75,473.6H242.29V287.54H75ZM452,157.66H353.89a148.9,148.9,0,0,0,18.68-11.3C393.81,131.2,405,112,405,92.88c0-15.65-7.43-29.46-18.18-38.81a61.31,61.31,0,0,0-40.33-15c-16.32,0-31.46,5.64-44.43,14.3-19.51,13.08-34.86,32.78-45.79,54.4-.52,1.05-1,2.11-1.54,3.16a174.35,174.35,0,0,0-13.92-24c-9.25-13.19-20.37-24.9-33.39-33.59s-28.11-14.3-44.43-14.3S131.87,46,120.74,56.41s-18.86,25.2-18.9,41.92a54.67,54.67,0,0,0,8.69,29.26c7.37,11.67,19,21.78,35.22,30.07H57.63a21.27,21.27,0,0,0-21.27,21.27v78.88H242.3V157.66h25V257.81H473.28V178.93A21.28,21.28,0,0,0,452,157.66ZM152.89,126.38c-8.31-5.22-13.36-10.5-16.31-15.18a23.76,23.76,0,0,1-4-12.87c0-6.75,3.33-13.95,9.26-19.55s13.75-8.93,20.89-8.93h.18c9.15,0,18.27,3.1,27.36,9.14,13.59,9,26.41,24.75,35.36,42.63a140.07,140.07,0,0,1,10.55,27.9C195,145.25,168.3,136.13,152.89,126.38Zm140.94-21.77C301.27,94,310,85,319.07,79s18.21-9.13,27.37-9.14h.1a30.71,30.71,0,0,1,20,7.36c5.06,4.5,7.67,9.89,7.68,15.66,0,6.85-3.64,16.84-19.62,28.52-15.21,11-41.46,22.38-81.95,30.3A141.46,141.46,0,0,1,293.83,104.61Zm-26.49,369H434.6V287.54H267.34Z" transform="translate(-36.36 -39.08)"/></svg>
					</span>	
				</a>
			</li>
		</ul>
  	</div>
  	<p class="game_desc">
  		{{ game_desc }}
  	</p>
  </div>
  {{ top_scores }}
  {{ test_link }}
</article>