{{ attach_library('sb_ecosystem/teaser') }}
<div class="teaser-outer-wrapper">
	{% if teaser_contest_end_date %}
		<div class="contest-label">
			<div class="contest-label-left"></div>
			<div class="contest-label-body">
				{{teaser_contest_end_date }}
			</div>
			<div class="contest-label-right"></div>
		</div>
	{% endif %}
	<div class = 'teaser-invisible-wrapper {{teaser_type}}'>
		{% if end_time > 0 %}
		<div class='teaser-timer' data-end-time='{{end_time}}'>
			END TIME: {{ end_time }}
		</div>
		{% endif %}

		{% if teaser_video_type_text %}
			<div class="video-label {{teaser_type}}-label">
				{{teaser_video_type_text}}
			</div>
		{% endif %}
		<div class="{{category}} teaser-background">
			{{ teaser_image }}
			<div class="teaser-fade"></div>
		</div>
		<div class='{{category}} teaser-slide-panel'>

			<svg width="100%" style="position:absolute;top: 0px;left: 0px;" viewBox="0 0 300 215">
			<polygon points="5,20 60,20 78,2 215,2 233,20 288,20 288,215 5,215" style="fill:#008BF2;position: absolute;top: 0px;left: 0px;"></polygon>
				<g fill-rule="evenodd" style="opacity:0.3568">
					<path d="M 5,25 L 60,25 78,7 215,7 233,25 288,25 288,215 5,215 z
					M 10,90 L 10,183 281,183 281,65 271,42 250,42 240,65 39,65 z
					M 10,186 L 10,212 255,212 281,186 z
					"/>
				</g>
			</svg>
			<a href="{{ teaser_url }}" data-teaser-type="{{teaser_type}}" class='btn {{ btn_type }} teaser-action-button'>{{teaser_action_text}}</a>

			<svg class='teaser-expand' fill="white" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"  viewBox="-50 -50 100 100" version="1.1" x="0px" y="0px">
				<g transform="scale(1,-1)">
					<path d="M-50-40L0 10L50-40L40-50L0-10L-40-50L-50-40M-50 0L0 50L50 0L40-10L0 30L-40-10L-50 0" style='pointer-events:none' />
					<animateTransform attributeName="transform"
						type="scale"
						from="1 -1"
						to="1 1"
						dur="1000ms"
						repeatCount="0"
						fill="freeze"
						name='flipUp'
						begin="never"
					  />
					  <animateTransform attributeName="transform"
			  			type="scale"
			  			from="1 1"
			  			to="1 -1"
			  			dur="1000ms"
			  			repeatCount="0"
			  			fill="freeze"
			  			name='flipDown'
						begin="never"
			  		  />
				</g>
			</svg>
			<div class="teaser-description">
				{{ teaser_description_area }}
			</div>
			<div class="teaser-social-area">
				{{ teaser_social_area }}
			</div>
		</div>
	</div>
</div>
