<div class="leaderboard">
	<ul class="leaderboard_filter">
		<li>{{ today }}</li>
		<li>{{ this_week }}</li>
		<li>{{ all_time }}</li>
	</ul>
	<ul class='leaderboard_top_scores'>
	  {% for index, item in grid %}
	    <li id='topScore{{ index }}'>
			<div class='top-score-position'> {{ item.position }} </div>
			<div class="top-score-user-div">
				<div class='top-score-username'>
					<img class='top-score-user-image' src={{ item.user_image }} alt={{ item.user_name }} />  {{ item.user_name }}
				</div>
				<div class='top-score-score'>{{ item.score }}</div>
			</div>
		</li>
	  {% endfor %}
	</ul>
	<div class="leaderboard_endcap"></div>
</div>